<nav-bar></nav-bar>
<mat-drawer-container id="drawer-container">
  <mat-drawer mode="over" [opened]="drawerOpen" style="min-width: 200px;">
    <mat-nav-list>
      <a mat-list-item href="/#location" (click)="closeDrawer()">Location</a>
      <a mat-list-item href="/#schedule" (click)="closeDrawer()">Schedule</a>
      <!-- <a mat-list-item href="/home#prizes" (click)="closeDrawer()">Challenges</a> -->
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content id="drawer-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
