<mat-toolbar id="toolbar" color="primary">
  <button mat-icon-button id="drawer-button" (click)="toggleDrawer()">
    <mat-icon style="color: white">menu</mat-icon>
  </button>
  <a class="logo-container" routerLink="/">
    <img id="logo" src="../../assets/logo_text_2019_2.png" />
  </a>
  <a mat-button class="toolbar-link" href="/#location">Location</a>
  <a mat-button class="toolbar-link" href="/#schedule">Schedule</a>
  <!-- <a mat-button class="toolbar-link" href="/#prizes">Challenges</a> -->
</mat-toolbar>
