<h1>Welcome to</h1>
<img class="logo" src="../../assets/logo_text_2019_2.png" />
<br />
<div class="logo points">
  <p>1. Stop by the check-in desk to get your badge and Wi-Fi code</p>
  <p>2. Join our <a href="https://discord.gg/QXvVNYd">Discord</a></p>
  <p>3. Opening Ceremony at 10:30 AM</p>
  <p>4. Learn about challenges</p>
  <p>5. Start hacking!</p>
  <br />
  <p>Import info</p>
  <p>1. Head to <a href="https://hack.mlh.io">hack.mlh.io</a> for the MLH slides</p>
  <p>2. Visit the <a href="https://hackunt2019.devpost.com">Devpost</a> to look at the prizes and register to submit</p>
  
</div>
