@import '../../styles.scss';

// DESKTOP
@media (min-width: 850px) {
  :host {
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    // grid-template-columns: 1fr;
    grid-gap: 3rem;

    padding: 3rem;
  }
}

// MOBILE
@media (min-width: 320px) and (max-width: 850px) {
  :host {
    background-color: black;
    color: white;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 3rem;

    padding: 10px;
  }
}

.card {
  min-height: 350px;
  max-height: 450px;
}
