<mat-card class="card">
  <mat-card-title>Overall</mat-card-title>
  <p>Use technology to improve accessibility.</p>
  <p>Find a creative solution to benefit the lives of those with disability. Examples may include using AR to show subtitles for the hearing impaired, or using photo recognition and Machine Learning to detect allergies in packaged foods.</p>

  <mat-card-title>Prizes</mat-card-title>
  <p>First Place: Oculus Go's for each team member</p>
  <p>Second Place: Fujifilm Instax 7S Polaroid Camera for each team member</p>
  <p>Third Place: Raspberry Pis for each team member</p>
</mat-card>
<mat-card class="card">
  <mat-card-title>StateFarm</mat-card-title>
  <p>Your challenge is to develop a solution that assists individuals impacted by natural disasters. Use your creativity to tailor it to what you think may fit. Your theme can be practical, it can be creative, or whatever your team dreams up. Have fun with it.</p>

  <mat-card-title>Prizes</mat-card-title>
  <p>Winning Team: The winning team recieves an Oculus Go</p>
</mat-card>
<mat-card class="card">
  <mat-card-title>Laundris</mat-card-title>
  <p>Your challenge is to develop a solution to track laundry. </p>

  <mat-card-title>Prizes</mat-card-title>
  <p>Winning Team: $50 Amazon gift card for each team member</p>
</mat-card>
<mat-card class="card">
  <mat-card-title>Stoke</mat-card-title>
  <p>Best Entrepreneurial Hack. Create the best startup idea and implement a prototype to win a 3 month membership to Stoke Coworking!</p>

  <mat-card-title>Prizes</mat-card-title>
  <p>Winning Team: 3 months free access to the Stoke Denton Workspace for each team member</p>
</mat-card>
<mat-card class="card">
  <mat-card-title>.TECH</mat-card-title>
  <p>Best hack using a .tech domain! Use a .tech domain to host your hack in order to enter.</p>

  <mat-card-title>Prizes</mat-card-title>
  <p>Winning Team: $100 Amazon credit</p>
</mat-card>
<mat-card class="card">
  <mat-card-title>Domain.com</mat-card-title>
  <p>Register the most interesting domain using your FREE Domain.com credit to win Raspberry Pis.</p>
  <p>How to access FREE Domain.com credit:</p> <p>Go to: hackp.ac/domains</p> <p>Use Code: MLHFUN when checking out</p>

  <mat-card-title>Prizes</mat-card-title>
  <p>Winning Team: Raspberry Pi for each team member</p>
</mat-card>
<mat-card class="card">
  <mat-card-title>Qualcomm</mat-card-title>
  <p>Use a Qualcomm device, like a DragonBoard 410c, in an Internet of Things project</p>

  <mat-card-title>Prizes</mat-card-title>
  <p>Winning Team: DragonBoard 410c for each team member</p>
</mat-card>
<mat-card class="card">
  <mat-card-title>Google Cloud Platform</mat-card-title>
  <p>Use a Google Clout Platform service (like hosting or machine learning) in your project to win Google Home Minis.</p>

  <mat-card-title>Prizes</mat-card-title>
  <p>Winning Team: Google Home Mini for each team member</p>
</mat-card>
<mat-card class="card">
  <mat-card-title>Snap Kit</mat-card-title>
  <p>Use Snap Kit to integrate Snapchat's best features into your hack to win Spectacles or another awesome prize.</p>

  <mat-card-title>Prizes</mat-card-title>
  <p>Winning Team: Spectacles or another awesome prize </p>
</mat-card>