<div class="day saturday">
  <div class="dot">DOT</div>
  <div>First event</div>
  <div class="dot">DOT</div>
  <div>Second event</div>
  <div class="dot">DOT</div>
  <div>Third event</div>
</div>
<mat-card class="day sunday">
  <div class="track"></div>
  <div class="circle" style="--circleRow: 1"></div>
  <div class="event">First event</div>
  <div class="circle" style="--circleRow: 2"></div>
  <div class="event">Second event</div>
  <div class="circle"></div>
  <div class="event">Third event</div>
  <div class="circle"></div>
  <div class="event">Third event</div>
</mat-card>